@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
    margin: 0 auto;
    background-color: #f0c79e;
    color: #3B2215;
    font-family: Arial, Helvetica, sans-serif;
   
 }
#nav{
    background-color: #3B2215;
    height: 90px;
    width: 100%;  
    margin:0px;
}
.shop-name {
    width: 500px;
    font-size: 55px;
    text-align: center;
    color: #f0c79e;
    padding-top: 10px;
    margin-left: 450px;
    font-family: 'Indie Flower', cursive;
}
.logo{
    padding-top: 10px;
    width: 150px;
    float:right;
}

.nav-list{
    display: inline-block;
    width: 400px;
    position: absolute;
    top:25px;
    font-family: 'Indie Flower', cursive;
 
}
.item-list{
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
}
a{
    color:  #f0c79e;
    text-align: center;
    text-decoration: none;
}
.home-main{
margin: 30px 350px;
}
.main-article{
   display: inline-block;
    font-weight: bold;
    padding-top: 20px; 
    font-size: 25px;
    text-align: center;
}
.home-img{
    width: 600px;
    height: 200px;
}
.content{
    margin: 0px 180px 30px 180px;
}
.contant-img{
    padding: 10px;
}
.content-header{
    font-weight: bold; 
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
table{  
    border-collapse: collapse;
    font-size: large;
    background-color: #3B2215;
    color:#f0c79e;
}
table td{
    border:3px solid #f0c79e;
    padding:10px;
}
th{
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 10px;
}
#table{
    text-align: center;
    background-color: #3B2215;
    color:#f0c79e;
    padding: 15px 50px;
}
.imges{
    display: inline-block;
    margin:30px 100px;

}
.img{
    display: inline-block;
    padding: 0px 20px;
    border-radius: 20%;

}
footer{
    background-color: #3B2215;
    color: #f0c79e;
    height: 40px;
    width: 100%;
    line-height: 50px; 
    text-align: center;
    margin-top: 100px;
}
.div-location{
    margin: 10px 130px;
}
.location{
    width: 200px;
    height: 180px;
    margin-left: 10px;
}
figure{
    display: inline-block;
}
figcaption{
    margin-left: 20px;
}
.paragraph1,.location-header{
    font-weight: bold; 
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.otheres{
    margin:20px 200px 30px 190px;
}
.family{
   display: inline-block;
   font-size: 20px;
   width: 300px;
   padding: 20px;
}
.caption{
    padding-bottom: 15px;
    text-align: center;
}
#sales-footer{
    background-color: #3B2215;
    color: #f0c79e;
    height: 40px;
    width: 100%;
    line-height: 50px; 
    text-align: center;
    margin-top: 130px;
}
fieldset{
    border: 3px solid  #3B2215;
    font-size: 20px;
    font-weight: bold;
    padding: 50px;
    width: 500px;
    margin: 30px 350px;
}
input:invalid{
    background-color: darkred;
}
input:valid{
    background-color:green;
}
#submit{
    background-color:#3B2215 ;
    width: 100px;
    height: 50px;
    margin-top: 30px;
    float: right;
    color:#f0c79e;
    font-size: large ;
}